@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
	font-family: "sans-serif";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "sans-serif";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--font-family-atkinson: sans-serif;

	--color-accent: #2acf62;
	--color-accent-dark: #505488;
	--color-black: rgb(15, 18, 25);
	--color-gray: rgb(96, 115, 159);
	--color-gray-light: rgb(229, 233, 240);
	--color-gray-dark: rgb(34, 41, 57);

	--shadow-box:
		0 2px 6px rgba(96, 115, 159, 0.25),
		0 8px 24px rgba(96, 115, 159, 0.33),
		0 16px 32px rgba(96, 115, 159, 0.33);

	--breakpoint-md: 720px;
}

@layer base {
	body {
		font-family: var(--font-family-atkinson);
		margin: 0;
		padding: 0;
		text-align: left;
		background: linear-gradient(rgba(229, 233, 240, 0.5), #fff) no-repeat;
		background-size: 100% 600px;
		word-wrap: break-word;
		overflow-wrap: break-word;
		color: var(--color-gray-dark);
		font-size: 20px;
		line-height: 1.7;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 0.5rem 0;
		color: var(--color-black);
		line-height: 1.2;
	}
	h1 { font-size: 3.052em; }
	h2 { font-size: 2.441em; }
	h3 { font-size: 1.953em; }
	h4 { font-size: 1.563em; }
	h5 { font-size: 1.25em; }

	strong,
	b {
		font-weight: 700;
	}

	a { color: var(--color-accent); }
	a:hover { color: var(--color-accent); }

	p { margin-bottom: 1em; }

	textarea {
		width: 100%;
		font-size: 16px;
	}
	input { font-size: 16px; }
	table { width: 100%; }


	code {
		padding: 2px 5px;
		background-color: var(--color-gray-light);
		border-radius: 2px;
	}
	pre {
		padding: 1.5em;
		border-radius: 8px;
	}
	pre > code { all: unset; }

	blockquote {
		border-left: 4px solid var(--color-accent);
		padding: 0 0 0 20px;
		margin: 0;
		font-size: 1.333em;
	}

	hr {
		border: none;
		border-top: 1px solid var(--color-gray-light);
	}

	@media (max-width: 720px) {
		body { font-size: 18px; }
	}
}
